// COLOR VARIABLES
$color-primary: #faed26;
$color-primary-dark: #bdb221;

$color-secondary: #46344e;
$color-secondary-light: #6b5c71;

$color-grey-light-1: #f5f3f3;
$color-grey-light-2: #9d8d8f;

$color-grey-dark-1: #5a5560;
$color-grey-dark-2: #2d2a30;

// FONT VARIABLES
$font-primary: "Raleway", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Responsive breakpoint
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 25em; // 400px
