.footer {
  grid-column: full-start / full-end;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 2px solid $color-grey-light-1;

  p {
    width: 80rem;
    text-align: right;
    color: $color-grey-light-2;
    font-size: 1.2em;
    margin: auto;
  }
}

@media only screen and (max-width: $bp-small) {
  .footer {
    width: 500px;
  }
}

@media only screen and (max-width: $bp-smallest) {
  .footer {
    width: 400px;
  }
}
