.gallery {
  grid-column: full-start / full-end;
  grid-row: 3 / 4;

  /* Prevent vertical gaps */
  -webkit-column-count: 5;
  -webkit-column-gap: 2px;
  -moz-column-count: 5;
  -moz-column-gap: 2px;
  line-height: 1;
  column-count: 5;
  column-gap: 2px;

  h1 {
    color: $color-secondary-light;
    column-count: 1;
    display: block;
  }
  img {
    width: 100%;
    height: auto !important;
    transition: 0.3s;
  }

  &_thumb:hover {
    opacity: 0.7;
  }

  #modal {
    display: none;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 50px;
    overflow: auto;
    transition: ease 2s;

    #modal-img {
      margin: auto;
      padding: 1vw;
      max-width: 99vw;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    #modal-close {
      position: absolute;
      top: 10px;
      right: 48vw;
      z-index: 91;
      color: $color-primary;
      font-size: 5rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: $bp-largest) {
  .gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    column-gap: 2px;
  }
}
@media (max-width: $bp-large) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 2px;
  }
}
@media (max-width: $bp-medium) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 2px;

    #modal {
      width: 100vw;
      height: 100vh;
      padding-top: 50px;
      #modal-img {
        padding: 01vw;
        max-width: 100vw;
      }
      #modal-close {
        top: 10px;
        right: 48vw;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $bp-small) {
  .gallery {
    width: 500px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    h1 {
      margin-left: 2rem;
    }
  }
}
@media (max-width: $bp-smallest) {
  .gallery {
    width: 400px;
  }
}
