.tips {
  grid-column: center-start / center-end;
  //     display: grid;
  //   grid-template-columns: repeat(9, 1fr);
  //   grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  height: min-content;

  padding: 10rem 10rem;

  &_heading {
    text-align: center;
    font-family: $font-display;
    font-size: 7rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2;
    color: $color-grey-dark-1;
    opacity: 0.1;
  }

  & p {
    column-count: 3;
    text-align: justify;
    color: $color-grey-dark-1;
  }
}

@media only screen and (max-width: $bp-medium) {
  .tips {
    &_heading {
      font-size: 4rem;
      line-height: 1.1;
    }
    & p {
      column-count: 2;
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .tips {
    padding: 3rem 2rem;
    width: 500px;

    & p {
      column-count: 1;
    }
  }
}

@media only screen and (max-width: $bp-smallest) {
  .tips {
    width: 400px;
  }
}
