@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i|Raleway:400,400i,500,500i&display=swap");
.heading-hero {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  color: #f5f3f3;
}

.heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  color: #faed26;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #f5f3f3;
}

.mp-0 {
  margin: 0;
  padding: 0;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-lg {
  margin-top: 8rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

.rotate {
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.btn_a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  display: inline-block;
  z-index: 9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn_a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #faed26;
}

.btn_a::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: white;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn_a:hover::after {
  width: 100%;
  background-color: #faed26;
}

.bg-dark {
  background-color: rgba(45, 42, 48, 0.5);
}

.tx-dark {
  color: #2d2a30;
}

.tx-light {
  color: #f5f3f3;
}

@media only screen and (max-width: 50em) {
  .paragraph {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .heading-1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .btn_a {
    font-size: 1.4rem;
  }
}

.sidebar {
  grid-column: side-start / side-end;
  grid-row: 1 / -1;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  background-color: #f5f3f3;
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}

.sidebar_menu {
  position: relative;
  width: 5rem;
  height: 7rem;
  background-color: #faed26;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar_menu:hover {
  background-color: #f5f3f3;
  border: 1px solid #5a5560;
}

.sidebar_burger {
  display: block;
  background-color: #5a5560;
  height: 0.1rem;
  width: 2.2rem;
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar_burger::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0rem;
  height: 0.1rem;
  width: 2.5rem;
  background-color: #2d2a30;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar_burger::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0rem;
  height: 0.1rem;
  width: 3rem;
  background-color: #2d2a30;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar .close .sidebar_burger {
  width: 2rem;
}

.sidebar .close .sidebar_burger::before {
  top: -0.5rem;
  left: 0.3rem;
  height: 0.1rem;
  width: 2rem;
}

.sidebar .close .sidebar_burger::after {
  top: 0.5rem;
  left: 0.7rem;
  height: 0.1rem;
  width: 2rem;
}

.sidebar_burgerMenu {
  visibility: hidden;
  width: 170px;
  height: 30rem;
  position: fixed;
  top: 0;
  left: 50px;
  z-index: 98;
  padding-top: 20px;
  overflow: auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(45, 42, 48, 0.9);
  clip-path: ellipse(90% 60% at 10% 30%);
  -webkit-clip-path: ellipse(90% 60% at 10% 30%);
}

.sidebar_burgerMenu ul {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sidebar_burgerMenu li {
  text-align: left;
  list-style: none;
  margin-left: 2rem;
}

.sidebar_burgerMenu a {
  text-decoration: none;
  color: #faed26;
  font-family: "Josefin Sans", sans-serif;
}

.sidebar_burgerMenu a:hover {
  color: #f5f3f3;
}

.sidebar .visible {
  visibility: visible;
  opacity: 1;
}

.sidebar .visible ul {
  opacity: 1;
}

.sidebar_title {
  width: 40rem;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  color: #9d8d8f;
  position: absolute;
  top: 65vh;
  left: 1rem;
}

.sidebar_icons {
  position: absolute;
  top: 90vh;
  left: 1.2rem;
}

.sidebar_icons .icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #5a5560;
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar_icons .icon:hover {
  fill: #faed26;
}

@media only screen and (max-width: 62.5em) {
  .sidebar_burgerMenu {
    width: 150px;
    height: 30rem;
    top: 0;
    left: 40px;
  }
}

@media only screen and (max-width: 50em) {
  .sidebar {
    grid-column: full-start / full-end;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    background-color: transparent;
    width: 80vw;
    height: 9rem;
  }
  .sidebar_menu {
    position: fixed;
    top: 0;
    left: 65%;
    width: 7rem;
    height: 8rem;
    -webkit-box-shadow: 2px 5px 0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 2px 5px 0.5rem rgba(0, 0, 0, 0.2);
  }
  .sidebar_burger {
    width: 3.2rem;
    top: 5rem;
    left: 1.5rem;
  }
  .sidebar_burger::before {
    top: -1rem;
    left: 0rem;
    width: 3.5rem;
  }
  .sidebar_burger::after {
    top: 1rem;
    left: 0rem;
    width: 4rem;
  }
  .sidebar_burgerMenu {
    width: 100vw;
    height: 40rem;
    top: 7rem;
    left: 0;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .sidebar_burgerMenu li {
    text-align: center;
    margin-bottom: 3rem;
  }
  .sidebar_burgerMenu a {
    font-size: 2.5rem;
  }
  .sidebar_title {
    display: none;
  }
  .sidebar_icons {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .sidebar_menu {
    left: 60%;
  }
}

@media only screen and (max-width: 26em) {
  .sidebar_menu {
    left: 55%;
  }
}

.nav {
  grid-column: full-start / full-end;
  background-color: rgba(45, 42, 48, 0.3);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 2rem 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav .logo {
  height: 3rem;
}

.nav ul {
  list-style: none;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}

.nav_item {
  display: inline-block;
  margin-right: 4rem;
}

.nav_link {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav_link::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: white;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav_link:hover {
  color: #faed26;
}

.nav_link:hover::after {
  width: 100%;
  background-color: #faed26;
}

.header {
  grid-column: full-start / full-end;
  position: relative;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 1fr 1fr;
      grid-template-rows: 8rem 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.header_bg {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.header_bg img {
  max-width: 100%;
}

.header_hero-text {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 30rem;
  height: 50rem;
  position: relative;
  z-index: 1;
}

.header_text {
  padding: 10rem 2rem 0rem 2rem;
  margin: 0 3rem;
  text-align: right;
}

.header_quote {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  width: 60rem;
  height: 10rem;
  text-align: right;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.header_arrow {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 10rem;
}

.header_arrow .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(250, 237, 38, 0.4);
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header_arrow-left, .header_arrow-right {
  width: 4rem;
  height: 4rem;
  border: 1.5px solid rgba(250, 237, 38, 0.4);
  border-radius: 5px;
  text-align: center;
  padding: 0.7rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header_arrow-left:hover, .header_arrow-right:hover {
  border: 1.5px solid #f5f3f3;
}

.header_arrow-left:hover .icon, .header_arrow-right:hover .icon {
  fill: #f5f3f3;
}

.square {
  background-color: rgba(45, 42, 48, 0.3);
  border: 2px solid rgba(250, 237, 38, 0.5);
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.square_1 {
  width: 28rem;
  height: 42.5rem;
  position: absolute;
  z-index: -1;
  top: 2rem;
  left: 0;
}

.square_2 {
  width: 15rem;
  height: 13rem;
  position: absolute;
  z-index: 0;
  top: -6rem;
  left: 17rem;
}

@media only screen and (max-width: 62.5em) {
  .header {
    height: 80vh;
  }
}

@media only screen and (max-width: 50em) {
  .header {
    height: 60vh;
    padding-top: 4rem;
  }
  .header_bg img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .square_1 {
    width: 23rem;
    height: 29rem;
    left: 3rem;
    top: 6rem;
  }
  .square_2 {
    display: none;
  }
  .nav {
    top: 2rem;
    right: 0;
    padding: 2rem 4rem;
  }
  .nav .logo {
    height: 4rem;
  }
  .nav ul {
    list-style: none;
    font-size: 1.6rem;
  }
  .nav .hideSm {
    display: none;
  }
  .onTop {
    z-index: 100;
  }
}

@media only screen and (max-width: 37.5em) {
  .square {
    display: none;
  }
  .header {
    height: 50vh;
    padding-top: 2rem;
  }
  .header_hero-text {
    display: none;
  }
  .nav {
    top: 1rem;
    right: 0;
    padding: 2rem 2rem;
  }
  .nav .logo {
    height: 4rem;
  }
  .nav ul {
    list-style: none;
    font-size: 1.5rem;
  }
  .nav .hideSm {
    display: none;
  }
}

.story {
  grid-column: center-start / center-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 90rem;
  padding: 10rem 10rem;
  margin-bottom: 5rem;
}

.story_heading {
  grid-column: 4 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  color: #6b5c71;
  opacity: 0.1;
}

.story_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.story_2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.story_3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.story_4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.story_5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.story_6 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.story #modal-story {
  display: none;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  overflow: auto;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.story #modal-story #modal-story-title {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  padding: 50px 10px 10px 10px;
}

.story #modal-story #modal-story-text {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  padding: 30px 10px 60px 10px;
  max-width: 800px;
}

.story #modal-story #modal-story-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story #modal-story #modal-story-img img {
  padding: 5px;
  width: 60%;
}

.story #modal-story #modal-story-close {
  position: fixed;
  top: 0px;
  right: 48vw;
  z-index: 91;
  color: #faed26;
  font-size: 5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.story #modal-story #modal-story-close:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  color: white;
}

.card {
  background-color: white;
  -webkit-box-shadow: 2px 5px 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 0.5rem rgba(0, 0, 0, 0.2);
  height: 35rem;
  width: 25rem;
  margin: 2rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
}

.card:hover {
  -webkit-transform: translate(-5px, -3px);
          transform: translate(-5px, -3px);
  -webkit-box-shadow: 4px 8px 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 4px 8px 0.5rem rgba(0, 0, 0, 0.3);
}

.card_title {
  position: absolute;
  top: 20rem;
  left: 1rem;
  display: block;
}

.card_img {
  height: 25rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
  right: -1.5rem;
}

.card_description {
  text-align: right;
}

.card_text {
  font-size: 1.3rem;
  line-height: 1;
  margin: 1rem 0 0.2rem 0;
}

@media only screen and (max-width: 62.5em) {
  .card {
    height: 32rem;
    width: 22rem;
    margin: 2rem;
    padding: 1rem;
  }
  .card_title {
    top: 19rem;
    left: 1rem;
  }
  .card_img {
    height: 22rem;
    width: 17rem;
  }
  .card_text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 50em) {
  .story {
    grid-column: full-start / full-end;
    height: 125rem;
    -ms-grid-rows: 40px (1fr)[3];
        grid-template-rows: 40px repeat(3, 1fr);
    padding: 5rem 5rem;
  }
  .story_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .story_2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .story_3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .story_4 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .story_5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .story_6 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media only screen and (max-width: 37.5em) {
  .story {
    height: 120rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 30px (1fr)[3];
        grid-template-rows: 30px repeat(3, 1fr);
    padding: 0;
    margin: 2rem 0 0 0;
  }
  .story_heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-left: 2rem;
  }
  .story_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .story_2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .story_3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .story_4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .story_5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .story_6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .card {
    height: 30rem;
    width: 20rem;
    margin: 2rem;
    padding: 1rem;
  }
  .card_title {
    top: 18rem;
    left: 1rem;
  }
  .card_img {
    height: 20rem;
    width: 15rem;
    top: 0;
    right: -1.5rem;
  }
  .card_text {
    font-size: 1.1rem;
    margin: 1rem 0 0.2rem 0;
  }
}

.gallery {
  grid-column: full-start / full-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  /* Prevent vertical gaps */
  -webkit-column-count: 5;
  -webkit-column-gap: 2px;
  -moz-column-count: 5;
  -moz-column-gap: 2px;
  line-height: 1;
  column-count: 5;
  column-gap: 2px;
}

.gallery h1 {
  color: #6b5c71;
  -webkit-column-count: 1;
          column-count: 1;
  display: block;
}

.gallery img {
  width: 100%;
  height: auto !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery_thumb:hover {
  opacity: 0.7;
}

.gallery #modal {
  display: none;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 50px;
  overflow: auto;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.gallery #modal #modal-img {
  margin: auto;
  padding: 1vw;
  max-width: 99vw;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.gallery #modal #modal-close {
  position: absolute;
  top: 10px;
  right: 48vw;
  z-index: 91;
  color: #faed26;
  font-size: 5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery #modal #modal-close:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  color: white;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 75em) {
  .gallery {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
}

@media (max-width: 62.5em) {
  .gallery {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
}

@media (max-width: 50em) {
  .gallery {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .gallery #modal {
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
  }
  .gallery #modal #modal-img {
    padding: 01vw;
    max-width: 100vw;
  }
  .gallery #modal #modal-close {
    top: 10px;
    right: 48vw;
    cursor: pointer;
  }
}

@media (max-width: 37.5em) {
  .gallery {
    width: 500px;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .gallery h1 {
    margin-left: 2rem;
  }
}

@media (max-width: 26em) {
  .gallery {
    width: 400px;
  }
}

.tips {
  grid-column: center-start / center-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 10rem 10rem;
}

.tips_heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 7rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  color: #5a5560;
  opacity: 0.1;
}

.tips p {
  -webkit-column-count: 1;
          column-count: 1;
  text-align: justify;
  color: #5a5560;
}

.videos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.videos-container iframe {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 50em) {
  .tips_heading {
    font-size: 4rem;
    line-height: 1.1;
  }
  .tips p {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media only screen and (max-width: 37.5em) {
  .tips {
    padding: 3rem 2rem;
    width: 500px;
  }
  .tips p {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .videos-container {
    width: 480px;
  }
}

@media only screen and (max-width: 26em) {
  .tips {
    width: 400px;
  }
  .videos-container {
    width: 380px;
  }
}

.contact {
  grid-column: full-start / full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .icon {
  width: 2rem;
  height: 2rem;
  fill: #9d8d8f;
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .icon:hover {
  fill: #faed26;
}

.contact_container li {
  list-style: none;
}

.contact_container li p {
  font-size: 1.4rem;
}

.contact_container li p svg {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  margin: 3px;
}

.contact .form-group {
  margin: 2rem;
  min-width: 300px;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form-group input {
  margin: 0.5rem;
  padding: 0.5rem;
}

.contact .form-group textarea {
  margin: 0.5rem;
  padding: 0.5rem;
  border-width: 2px;
  border-style: inset;
}

@media only screen and (max-width: 37.5em) {
  .contact {
    width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 26em) {
  .contact {
    width: 400px;
  }
}

.footer {
  grid-column: full-start / full-end;
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #f5f3f3;
}

.footer p {
  width: 80rem;
  text-align: right;
  color: #9d8d8f;
  font-size: 1.2em;
  margin: auto;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    width: 500px;
  }
}

@media only screen and (max-width: 26em) {
  .footer {
    width: 400px;
  }
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(99.5%, #2a2a2a), to(#5a5560));
  background: linear-gradient(to bottom, #2a2a2a 99.5%, #5a5560);
}

.story {
  background: #f5f3f3;
}

.gallery {
  background: #f5f3f3;
}

.tips {
  background: #f5f3f3;
}

.contact {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(97%, #2d2a30), color-stop(99%, #5a5560));
  background: linear-gradient(to top, #2d2a30 97%, #5a5560 99%);
}

.footer {
  background: #5a5560;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background: #f5f3f3;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  color: #2d2a30;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh (minmax(min-content, max-content))[5];
      grid-template-rows: 100vh repeat(5, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-rows: 100vh repeat(5, minmax(min-content, max-content));
  -ms-grid-columns: [side-start] 5rem [side-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [side-start] 5rem [side-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [side-start] 5rem [side-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 62.5em) {
  .container {
    -ms-grid-rows: (minmax(min-content, max-content))[6];
        grid-template-rows: repeat(6, minmax(-webkit-min-content, -webkit-max-content));
        grid-template-rows: repeat(6, minmax(min-content, max-content));
  }
}

@media only screen and (max-width: 50em) {
  .container {
    -ms-grid-columns: [full-start center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end full-end];
        grid-template-columns: [full-start center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end full-end];
        grid-template-columns: [full-start center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end full-end];
  }
}

@media only screen and (max-width: 26em) {
  .container {
    width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */